body {
	font-family: "Roboto", sans-serif;
	font-size: large;
	text-align: center;
	background-color: white;
}

#top {
	background-color: grey;
	padding: 10px;
}

#scatter-plot {
	margin-top: 20px;
	margin-bottom: 20px;
}

#tweet-table {
	margin-bottom: 20px;
}
